<%= provide(:title, 'Sign up') %>
<div class="signup">
  <div class="signup-form">
    <h1>新しいアカウントを作成</h1>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "パスワード再入力" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit "新しいアカウントを作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>