<div class="container company-show">
  <div class="company-show-prof">
    <p class="company-show-name"><%= @company.coop_name %></p>
    <p class="company-show-place"><%= @company.coop_place %></p>
  </div>
  <div class='star-btn' id="favorite_<%= @company.id %>">
    <%= render "favorites/favorite", company: @company %>
  </div>
  <div class="company-show-form">
    <div class="post-show-detail">
      <%= image_tag "tesla1.png", class: "tesla1-post-image" %>
    </div>
    <div class="post-show-detail">
      <%= image_tag "tesla2.png", class: "tesla2-post-image" %>
    </div>
    <div class="post-show-detail">
      <%= image_tag "tesla3.png", class: "tesla3-post-image" %>
    </div>
    <div class="post-show-detail">
      <%= image_tag "tesla4.png", class: "tesla4-post-image" %>
    </div>
    <div class="post-show-detail">
      <%= image_tag "tesla5.png", class: "tesla5-post-image" %>
    </div>
    <div class="post-show-detail">
      <%= image_tag "tesla6.png", class: "tesla6-post-image" %>
    </div>
    <div class="post-show-detail">
      <%= image_tag "tesla7.png", class: "tesla7-post-image" %>
    </div>
    <div class="post-show-detail">
      <%= image_tag "tesla8.png", class: "tesla8-post-image" %>
    </div>
    <div class="post-show-detail">
      <%= image_tag "tesla9.png", class: "tesla9-post-image" %>
    </div>
    <div class="post-show-detail">
      <%= image_tag "tesla10.png", class: "tesla10-post-image" %>
    </div>
    <div class="post-show-detail">
      <%= image_tag "tesla11.png", class: "tesla11-post-image" %>
    </div>
    <div class="post-show-detail">
      <%= image_tag "tesla12.png", class: "tesla12-post-image" %>
    </div>
  </div>
</div>