<%=  provide(:title, 'Index') %>
<div class="container-fiuld room-posts">
  <h3 class="ppp">登録ルーム一覧</h3>
  <div class="user-items">
    <table>
      <tr>
        <th>写真</th>
        <th>ルーム名</th>
        <th>部屋紹介</th>
        <th>料金</th>
        <th>作成日</th>
        <th colspan="3"></th>
      </tr>
      <% current_user.rooms.each do |room| %>
        <tr>
          <td><img src="<%= room.img %>" class="room-post-image" alt="部屋画像"></td>
          <td><%= link_to(room.name, "/rooms/#{room.id}") %></td>
          <td><%= room.body %></td>
          <td>¥<%= room.price %></td>
          <td><%= room.created_at %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
