<div class="container-fiuld post">
  <h3 class="ppp"><%= @results.count %>件の検索結果</h3>
  <div class="row">
    <% @results.each do |post| %>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <%= link_to "/posts/#{post.id}" do %>
          <div class="post-flame">
            <div class="post-show-icon">
              <% if post.user.image_name? %>
                <%= image_tag post.user.image_name.url, class: "host-icon" %>
                <span class="host-name"><%= post.user.name %></span>
              <% else %>
                <%= image_tag "/user_images/default.png", class: "host-icon" %>
                <span class="host-name"><%= post.user.name %></span>
              <% end %>
              <% if logged_in? %>
                <% if post.user_id == current_user.id %>
                  <%= link_to  post, method: :delete, data: { confirm: "#{post.name}を削除して大丈夫ですか？" } do %>
                    <i class="fas fa-trash-alt trash"></i>
                  <% end %>
                <% end %>
              <% end%>
            </div>
            <div class="post-img">
              <img src="<%= post.stockprice %>" class="post-image" alt="画像">
            </div>
            <div class="post-text-box">
              <p class="post-name"><%= post.name %></p>
              <p class="post-place"><%= post.body.truncate(20) %></p>
              <p class="post-price" id="post_<%= post.id %>">
                <% if logged_in? %>
                  <% if current_user.liked_by?(post.id) %>
                    <%= render 'unlike', post: post %>
                  <% else %>
                    <%= render 'likes', post: post %>
                  <% end %>
                <% else %>
                  <%= render 'likes', post: post %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>