<header class="navbarInverse">
  <div class="container">
    <%= link_to "Napier", root_path, id: "logo" %>
    <%= image_tag "IMG_9442.PNG", class: "napier-image" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="search-form">
          <%= search_form_for @search, url: posts_search_path do |f| %>
            <% f.label :name %>
            <%= f.search_field :name_or_body_or_place_cont, placeholder: "キーワード" %>
            <% f.submit %>
          <% end %>
        </li>
        <% if logged_in? %>
          <ul id="navigation">
            <li><%= @current_user.name %></li>
            <li>
              <% if @current_user.image_name? %>
                <%= image_tag @current_user.image_name.url %>
              <% else %>
                <%= image_tag "/user_images/default.png" %>
              <% end %>
              <li>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p>三</p>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuBotton">
                    <a class="dropdown-item"><%= link_to "投稿する", new_post_path %></a><br>
                    <a class="dropdown-item"><%= link_to "アカウント", @current_user %></a><br>
                    <a class="dropdown-item"><%= link_to "編集", edit_user_path(@current_user) %></a><br>
                    <a class="dropdown-item"><%= link_to "ユーザー一覧", users_path %></a><br>
                    <a class="dropdown-item"><%= link_to "ログアウト", logout_path, method: :delete %></a>
                  </div>
                </div>
              </li>
            </li>
          </ul>
        <% else %>
          <li class="btn1"><%= link_to "ログイン", login_path %></li>
          <li class="btn2"><%= link_to "登録する", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>